<div class="container mt-4 mb-4" style="background-color: rgb(248, 249, 250);; border-radius: 15px; padding: 20px;">
    <div class="col-sm-6">
        <h6 class="mb-5">CONFIGURACIÓN DE PARÁMETROS</h6>
        <!--CREAR UN ROW POR CADA PARAMETRO -->
        <div class="row">
            <div class="col-sm-3">
                <label data-toggle="tooltip"
                    style="width: 100%;"><small>Parametro1</small></label>
            </div>
            <div class="col-sm-9">
                <div class="input-group input-group-sm mb-2">
                    <input type="text" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
        <button class="boton-gral">Aceptar</button>
    </div>
</div>
