<header id="header" class="container-fluid" [ngClass]="{'header-login': tipo=='login', 'header': tipo=='sesion'}">
    <div class="center">
        <div class="menu">
            <div class="d-flex align-items-start" id="logo">
                <img src="assets/images/Escudo.png" class="app-logo" alt="Logotipo" />
                <span id="uaslp" style="float: left;">
                    Área de Ciencias de la <strong>Computación</strong>
                </span>
            </div>
        </div>
    </div>
</header>