<header id="header">
    <div class="center">
        <div class="menu">
            <div class="row">
                <div class="col" id="logo">
                    <img src="assets/images/Escudo.png" class="app-logo" alt="Logotipo"/>
                    <span id="brand" style="float: left;">
                        Área de Ciencias de la <strong>Computación</strong>
                    </span>
                </div>
               
            </div>         
        </div>
        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>
    </div>
</header>