#header{
    background-color: rgb(27, 58, 87);
    height: 90px;
  }
  
  #logo{
    margin-left: 60px;
  }
  
  #logo img {
    display: block;
    float: left;
    height: 80px;
    margin-bottom: 5px;
  }
  
  #uaslp{
    display: block;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 25px;
    float: left;
    font-size: 4.0vh;
    color: white;
  }
    @media (max-width: 1488px){
    
      .center{
          width: 85%;
      }
    }
    
    @media (max-width: 1314px){

      #uaslp{
          font-size: 2.0vw;
      }
      
    }
    
    @media (max-width: 881px){
     
    }
    
    @media (max-width: 813px){
      #header{
          overflow:hidden;
      }  
      #logo {
          width: 100%;
          font-size: 10px;
          float: left;
          padding-bottom: 20px;
          margin-left: 10px;
      }
      #logo img {
          display: block;
          float: left;
          height: 60px;
          margin-bottom: 5px;
          margin-top: 10px;
          margin-right: 10px;
      }
      #uaslp{
    
          font-size: 2.0vh;
          color: white;
      }
    }
    
    @media (max-width: 497px){
      #header{
          overflow:hidden;
      }
      #logo {
          width: 100%;
          font-size: 30px;
          float: left;
          margin-left: 10px;
      }
    }
    
    