
#header {
    background: rgb(27,50,87);
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 100px !important;
}

.center{
    width: 90%;
    margin: 0px auto;
}

.clearfix{
    clear:both;
    float:none;
}

#uaslp{
    display: block;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 25px;
    float: left;
    font-size: 4.0vh;
    color: white;
}
#menu{
    float:left;
}
#logo {
    width: 100%;
    font-size: 30px;
    float: left;
}
#logo img {
    display: block;
    float: left;
    height: 80px;
    margin-bottom: 5px;
    margin-right: 10px;
}
/*RESPONSIVE*/

/*Desde la anchura 963px hasta la anchura 1488px de pantalla*/
@media (max-width: 1488px){
    /*Se ejecutarán estos estilos*/
    .center{
        width: 85%;
    }
}

/*Desde la anchura 0px hasta la anchura 963px de pantalla*/
@media (max-width: 1314px){
    .center{
        width: 90%;
    }
    #uaslp{
        font-size: 2.0vw;
    }
}

@media (max-width: 881px){
   
}

@media (max-width: 813px){
    #header{
        min-height: 130px;
        overflow:hidden;
    }  
    #logo {
        width: 100%;
        font-size: 10px;
        float: left;
        padding-bottom: 20px;
    }
    #logo img {
        display: block;
        float: left;
        height: 60px;
        margin-bottom: 5px;
        margin-top: 10px;
        margin-right: 10px;
    }
    #uaslp{

        font-size: 2.0vh;
        color: white;
    }
}

@media (max-width: 497px){
    #header{
        min-height: 130px;
        overflow:hidden;
    }
    #logo {
        width: 100%;
        font-size: 30px;
        float: left;
    }
}