.btn{
    margin-left: 20px;
    background: black;
    color: white;
    padding: 9px; 
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    max-width: 120px;
    transition: 300ms all;
    border: none;
    cursor:pointer;
 }

.btn:hover
 {
     background-color: rgb(255,207,105);
     color: black;
 }
 .card{
    border-radius: 20px;
 }
 .busqueda{
     border-radius:15px;
 }
