<h5 class="pt-3 pl-2 pb-3 lead">Profesores</h5>
<ngx-spinner></ngx-spinner>
<div id="page-content-wrapper">
    <div class="page-content ml-3">
        <div class="container-fluid">
            <div class="row">
                <!-- COLUMNA IZQUIERDA ATRIBUTOS A LLENAR POR EL USUARIO -->
                <div class="container">
                    <form>
                        <div class="row">
                            <div class="col-sm d-flex justify-content-start mt-3">
                                <input type="text" class="form-control busqueda" name="search" [(ngModel)]="busqueda"
                                    (ngModelChange)="buscaProfesoresMem()" placeholder="Buscar" />
                            </div>
                            <div class="col-sm d-flex justify-content-end mb-3 mt-3">
                                <button type="button" class="boton-gral" (click)="collapse.toggle()"
                                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                                    <fa-icon [icon]="faUserPlus"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class=" container">
                <div class="nuevo-profesor mt-2">
                    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                        <div class="card">
                            <div class="contenedor">
                                <div class="row ml-4 m-3 ">
                                    <h6>Agregar nuevo profesor</h6>
                                </div>
                                <div class="row m-3">
                                    <div class="col-sm-3 mb-3">
                                        <h6><small>Nombre:</small></h6>
                                        <input type="text" name="" id="" class="form-control"
                                            [(ngModel)]="profesor.first_name">
                                    </div>
                                    <div class="col-sm-3 mb-2">
                                        <h6><small>Apellido(s):</small></h6>

                                        <input type="text" name="" id="" class="form-control"
                                            [(ngModel)]="profesor.last_name">
                                    </div>
                                    <div class="col-sm-2 mb-3">
                                        <h6><small>Usuario:</small></h6>

                                        <input type="text" name="" id="" class="form-control"
                                            [(ngModel)]="profesor.username">
                                    </div>
                                    <div class="col-sm-2 mb-3">
                                        <h6><small>Contraseña:</small></h6>
                                        <input type="text" name="" id="" class="form-control"
                                            [(ngModel)]="profesor.password">
                                    </div>
                                    <div class="col-sm-2 mb-2">
                                        <h6 style="visibility: hidden;"><small>Boton</small></h6>
                                        <input type="submit" name="submit" value="Agregar" class="boton-add"
                                            (click)="registraProfesor()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5 mb-5 p-2">
                <table class="table table-sm">
                    <thead class="thead-prof">
                        <tr>
                            <th scope="col" style="width: 5%">#</th>
                            <th scope="col" style="width: 22%;">Nombre</th>
                            <th scope="col" style="width: 22%">Apellido</th>
                            <th scope="col" style="width: 20%">Usuario</th>
                            <th class="text-center" scope="col" style="width: 30%">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let profesor of profesores; index as i">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ profesor.first_name }}</td>
                            <td>{{ profesor.last_name }}</td>
                            <td>{{ profesor.username }}</td>
                            <td class="acciones text-center">
                                <a (click)="open(content, profesor)">
                                    <fa-icon [icon]="faPen"></fa-icon>
                                </a> 
                                <a (click)="open(contentdelete, profesor)" style="margin-left:25px">
                                    <fa-icon [icon]="faTrash"></fa-icon >
                                </a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header" >
        <div class="d-flex flex-row">
            <div class="p-2">
                <h4 class="modal-title" id="modal-basic-title">
                    <fa-icon [icon]="faPen"></fa-icon>
                </h4>
            </div>
            <div class="p-2">
                <h5 class="modal-title" id="modal-basic-title">Modificar Profesor</h5>
            </div>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" >
        <div class="container">
            <form *ngIf="profSeleccionado!=null">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputNombre">Nombre(s)</label>
                        <input type="email" class="form-control" id="inputNombre" [(ngModel)]="profSeleccionado.first_name"
                            name="first_name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputApellido">Apellido(s)</label>
                        <input type="text" class="form-control" id="inputApellido" placeholder=""
                            [(ngModel)]="profSeleccionado.last_name" name="last_name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputUsuario">Usuario</label>
                        <input type="text" class="form-control" id="inputUsuario" [(ngModel)]="profSeleccionado.username"
                            name="username" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPass">Contraseña</label>
                        <input type="text" class="form-control" id="inputPass" [(ngModel)]="profSeleccionado.password"
                            name="password" placeholder="">
                    </div>
                </div>
            </form>
        </div>
       
    </div>
    <div class="modal-footer" style="background-color: rgb(230, 230, 230);">
        <div class="d-flex justify-content-end mt-2">
            <button type="button" class="boton-gral-cancelar" (click)="modal.close('Close click')!">
                Cancelar
            </button>
            <button type="button" class="boton-gral" (click)="modificaProfesor()" style="background-color: rgb(107, 86, 181) !important;">
                Aceptar
            </button>
        </div>
    </div>
</ng-template>

<ng-template #contentdelete let-modal>
    <div class="modal-header"  *ngIf="profSeleccionado!=null" >
        <div class="d-flex flex-row">
            <div class="p-2">
                <h4 class="modal-title-delete" id="modal-basic-title">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </h4>
            </div>
            <div class="p-2">
                <h5 class="modal-title" id="modal-basic-title">¿Eliminar Profesor?</h5>
            </div>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" >
        <div class="container">
            <h6 *ngIf="profSeleccionado!=null">¿Quieres eliminar a <strong style="color: rgb(34, 193, 248);;">"{{profSeleccionado.first_name}} {{profSeleccionado.last_name}}"</strong> ?</h6>
            <p><small>Si eliminas a este profesor ya no podrás recuperarlo, ¿estás seguro de proceder con esta acción?</small> </p>
        </div>
      
    </div>
    <div class="modal-footer" style="background-color: rgb(230, 230, 230);">
        <div class="d-flex justify-content-end mt-2">
            <button type="button" class="boton-gral-cancelar" (click)="modal.close('Close click')!">
                Cancelar
            </button>
            <button type="button" class="boton-gral" (click)="eliminaProfesor()" style="background-color: rgb(225, 24, 24) !important;">
                Eliminar
            </button>
        </div>
    </div>
</ng-template>