<h5 class="pt-3 pl-2 pb-3">Tablero</h5>
    <section id="content">
        <div class="row" >
            <div class="col">
                <div class="card" id="cartas">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <fa-icon [icon]="faChalkboardTeacher" style="color: rgb(34,193,248);"></fa-icon> 
                                </div>
                                <div class="media-body text-right">
                                    <h3 style="color: rgb(34,193,248);">45</h3>
                                    <span>Asesorados</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="cartas">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <fa-icon [icon]="faChalkboardTeacher" style="color: rgb(246,104,185);"></fa-icon>
                                </div>
                                <div class="media-body text-right">
                                    <h3 style="color: rgb(246,104,185);">4</h3>
                                    <span>Materias</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="cartas">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <fa-icon [icon]="faChalkboardTeacher" style="color: rgb(155,104,237);"></fa-icon>
                                </div>
                                <div class="media-body text-right">
                                    <h3 style="color: rgb(155,104,237);">4</h3>
                                    <span>Materias</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="cartas">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <fa-icon [icon]="faChalkboardTeacher" style="color: rgb(255,207,105);"></fa-icon>
                                </div>
                                <div class="media-body text-right">
                                    <h3 style="color: rgb(255,207,105);">4</h3>
                                    <span>Materias</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>