<app-header></app-header>
<ngx-spinner></ngx-spinner>
<div class="cuerpo mb-5" style="position: relative; padding-top: 0px;">
    <div class="container mt-5">
        <div class="row d-flex">
            <div class="col-lg-5 ">
                <h4 class="text-center">Predicción del desempeño de estudiantes en materias de Ingeniería.</h4>
                <div class="card1 pb-5">
                    <div class="row px-3 justify-content-center mt-4  border-line"> <img
                            src="assets/images/Cerebro.png" style="width: 250px; height: 250px;"
                            class="image"> </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="card2 card border-0 px-4 py-5 mb-4" style="z-index: 20;">
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Usuario</h6>
                        </label> <input class="mb-4" type="text" name="clave" placeholder="Ingresa tu usuario"
                            [(ngModel)]="user.username"> </div>
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Contraseña</h6>
                        </label> <input type="password" name="password" placeholder="Ingresa contraseña"
                            [(ngModel)]="user.password"> </div>

                    <div class="d-flex justify-content-end mt-5"> <a type="submit" class="boton text-center"
                            (click)="iniciarSesion()">Ingresar</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center mt-4"><h6><small><a href="https://www.freepik.es/vectores/escuela" style="color: gainsboro;">Imagen e icono por macrovector_official - www.freepik.es</a></small></h6> </div>